#Project 1
#By Niteen Kumar, Alexander Low, Jagruti Solao, Brian Weinfeld

In [7]:
import csv
from scipy import stats
import pandas as pd
import networkx as nx

A data set consisting of every airport in the world, along with various statistics about each airport, and a second data set containing every connection between these airports, was loaded into python.

In [29]:
df1 = pd.read_table('https://raw.githubusercontent.com/brian-cuny/620project1/master/openflights_airports.txt', sep=' ')
df1[:10]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Airport ID</th>
      <th>Name</th>
      <th>City</th>
      <th>Country</th>
      <th>IATA/FAA</th>
      <th>ICAO</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Altitude</th>
      <th>Timezone</th>
      <th>DST</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>Goroka</td>
      <td>Goroka</td>
      <td>Papua New Guinea</td>
      <td>GKA</td>
      <td>AYGA</td>
      <td>-6.081689</td>
      <td>145.391881</td>
      <td>5282</td>
      <td>10.0</td>
      <td>U</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>Madang</td>
      <td>Madang</td>
      <td>Papua New Guinea</td>
      <td>MAG</td>
      <td>AYMD</td>
      <td>-5.207083</td>
      <td>145.788700</td>
      <td>20</td>
      <td>10.0</td>
      <td>U</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>Mount Hagen</td>
      <td>Mount Hagen</td>
      <td>Papua New Guinea</td>
      <td>HGU</td>
      <td>AYMH</td>
      <td>-5.826789</td>
      <td>144.295861</td>
      <td>5388</td>
      <td>10.0</td>
      <td>U</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>Nadzab</td>
      <td>Nadzab</td>
      <td>Papua New Guinea</td>
      <td>LAE</td>
      <td>AYNZ</td>
      <td>-6.569828</td>
      <td>146.726242</td>
      <td>239</td>
      <td>10.0</td>
      <td>U</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>Port Moresby Jacksons Intl</td>
      <td>Port Moresby</td>
      <td>Papua New Guinea</td>
      <td>POM</td>
      <td>AYPY</td>
      <td>-9.443383</td>
      <td>147.220050</td>
      <td>146</td>
      <td>10.0</td>
      <td>U</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>Wewak Intl</td>
      <td>Wewak</td>
      <td>Papua New Guinea</td>
      <td>WWK</td>
      <td>AYWK</td>
      <td>-3.583828</td>
      <td>143.669186</td>
      <td>19</td>
      <td>10.0</td>
      <td>U</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>Narsarsuaq</td>
      <td>Narssarssuaq</td>
      <td>Greenland</td>
      <td>UAK</td>
      <td>BGBW</td>
      <td>61.160517</td>
      <td>-45.425978</td>
      <td>112</td>
      <td>-3.0</td>
      <td>E</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>Nuuk</td>
      <td>Godthaab</td>
      <td>Greenland</td>
      <td>GOH</td>
      <td>BGGH</td>
      <td>64.190922</td>
      <td>-51.678064</td>
      <td>283</td>
      <td>-3.0</td>
      <td>E</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>Sondre Stromfjord</td>
      <td>Sondrestrom</td>
      <td>Greenland</td>
      <td>SFJ</td>
      <td>BGSF</td>
      <td>67.016969</td>
      <td>-50.689325</td>
      <td>165</td>
      <td>-3.0</td>
      <td>E</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>Thule Air Base</td>
      <td>Thule</td>
      <td>Greenland</td>
      <td>THU</td>
      <td>BGTL</td>
      <td>76.531203</td>
      <td>-68.703161</td>
      <td>251</td>
      <td>-4.0</td>
      <td>E</td>
    </tr>
  </tbody>
</table>
</div>

In [34]:
df2 = pd.read_table('https://raw.githubusercontent.com/brian-cuny/620project1/master/openflights.txt', 
                    sep=' ', header=None)
df2[:10]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>6</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>5430</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>5</td>
      <td>2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>5431</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>5434</td>
      <td>2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

This data was loaded into a Neo4j server and subset to only include airports that are located in Canada and the United Kingdom. From there, each of the centrality calculations was computed for each airport

In [8]:
with open('airports_sub.csv') as read_file:
    airports = {int(r[0]): r for r in csv.reader(read_file, delimiter=',')}

with open('connections_sub.csv') as read_file:
    connections = [(int(r[0]), int(r[1])) for r in csv.reader(read_file, delimiter=',')]

G = nx.Graph()
G.add_edges_from(connections)

degree_centrality = nx.degree(G)
degree_closeness = nx.closeness_centrality(G)
eigenvector_centrality = nx.eigenvector_centrality(G)
betweenness_centrality = nx.betweenness_centrality(G)
for ap, deg in degree_centrality:
    airports[ap].append(deg)
    airports[ap].append(degree_closeness[ap])
    airports[ap].append(eigenvector_centrality[ap])
    airports[ap].append(betweenness_centrality[ap])

In order to facilitate calculations, a class was designed to house all the information about a single Airport, along with a helper method designed to extract all the needed values for the various queries.

In [23]:
class Airport():
    def __init__(self, id, airport, country, centrality, closeness, eigenvector, betweenness, international):
        self.id = id
        self.airport = airport
        self.country = country
        self.centrality = float(centrality)
        self.closeness = float(closeness)
        self.eigenvector = float(eigenvector)
        self.betweenness = float(betweenness)
        self.international = international

    def __repr__(self):
        return self.__str__()

    def __str__(self):
        return f'{self.id} "{self.airport}" {self.country} {self.international} {self.centrality}'


def extract(comparison, element, attr):
    return [getattr(x, attr) for x in airports if getattr(x, comparison) == element]

with open('calculations_international.csv') as read_file:
    reader = csv.reader(read_file, delimiter=',')
    next(reader)
    airports = [Airport(*r) for r in reader]

##Centrality Comparison beteween Canada and United Kingdom Airports

In [15]:
canada = extract('country', 'Canada', 'centrality')
uk = extract('country', 'United Kingdom', 'centrality')
f'Canada: {mean(canada)} UK: {mean(uk)}'

'Canada: 3.9351351351351354 UK: 6.186046511627907'

In [32]:

stats.ttest_ind(canada, uk)

Ttest_indResult(statistic=3.0044068401551907, pvalue=0.0029609665487051033)

In [18]:
canada = extract('country', 'Canada', 'closeness')
uk = extract('country', 'United Kingdom', 'closeness')
f'Canada: {mean(canada)} UK: {mean(uk)}'

'Canada: 0.22580906714515855 UK: 0.19588782248151104'

In [19]:

stats.ttest_ind(canada, uk)

Ttest_indResult(statistic=3.0044068401551907, pvalue=0.0029609665487051033)

![UK](UKCentralityEdinburgh.png)
![Canada](canadaCentralityVancouverIntl.png)

The above picture show every airport connected to Edinburgh and Vancouver international. It turns out that 40% of all airports in the UK fly into Edinburgh while less than 15% fly into Vancouver International. Canada's higher closeness stems from the fact that every interntional airport connects to every other international airport.

##Centrality Comparison between International and Domestic Airports

In [20]:
inter = extract('international', 'True', 'centrality')
dom = extract('international', 'False', 'centrality')
f'International: {mean(inter)} Domestic: {mean(dom)}'

'International: 17.083333333333332 Domestic: 3.6527777777777777'

In [25]:
stats.ttest_ind(inter, dom)

Ttest_indResult(statistic=13.56153263468452, pvalue=4.742052671702762e-31)

In [26]:
sorted(airports, key=lambda a: a.centrality, reverse=True)[:10]

[156 "Vancouver Intl" Canada True 26.0,
 178 "Calgary Intl" Canada True 25.0,
 49 "Edmonton Intl" Canada True 23.0,
 193 "Lester B Pearson Intl" Canada True 23.0,
 146 "Pierre Elliott Trudeau Intl" Canada True 20.0,
 467 "City" United Kingdom False 19.0,
 532 "Dyce" United Kingdom False 18.0,
 169 "Sioux Lookout" Canada False 17.0,
 160 "Winnipeg Intl" Canada False 16.0,
 534 "Glasgow" United Kingdom True 16.0]

In [27]:
inter = extract('international', 'True', 'betweenness')
dom = extract('international', 'False', 'betweenness')
f'International: {mean(inter)} Domestic: {mean(dom)}'

'International: 0.10039363053781986 Domestic: 0.008939914947524354'

In [28]:
stats.ttest_ind(inter, dom)

Ttest_indResult(statistic=11.19101604216727, pvalue=2.023634048994072e-23)

![Highest Centrality](smallMap.png)

In conclusion, we find several statistically significant difference between Canada/UK airports and International/Domestic airports. 

Canadian airports have a wider spread than the UK due to the larger size of the country and International airports have a higher centrality and betweeness than domestic due to the spoke and hub nature of airport travel design.